Repository RTAinJapan/rtainjapan-layouts, pull requests merged in 2023-12, with the labels that each got.

#734 RTA in Japan Winter 2023 配色の変更
  src/browser/graphics/styles/colors.ts
Labels: graphics, high priority

#735 RTA in Japan Winter 2023 のセットアップ画面を追加する
  package.json
  src/browser/graphics/components/lib/fit-text.tsx
  src/browser/graphics/components/lib/text.ts
  src/browser/graphics/views/setup-idol.tsx
Labels: graphics, high priority

#736 3x4 1人レイアウトを追加した
  src/browser/graphics/views/game-scene/3x4-1.tsx
Labels: graphics

#739 幕間動画再生時のリサイズを修正する
  src/browser/graphics/views/interval-video.tsx
Labels: bug, graphics

#741 走者4人が完走・リタイアしたらタイマーが止まるようにする
  src/extension/timekeeping.ts
Labels: bug, extensions
